<div class="row">
  <div class="col-md-6 offset-3">
    <h1>
      <%= @user.username %>
    </h1>
    <h2>Feed</h2>

    <%= render "shared/tabs" %>
  </div>
</div>
<ul>
  <% @user.feed.each do |photo|%>
    <li>
      <%= render "photos/photo", photo: photo %>
    </li>
  <% end %>
</ul>
