<div class="row">
  <div class="col-md-6 offset-3">
    <h1>
      <%= @user.username %>
    </h1>
    <h2>Following</h2>

    <%= render "shared/tabs" %>
  </div>
</div>
<ul>
<%  @user.accepted_sent_follow_requests.each do |leader| %>
  <% x = User.where(id: leader.recipient_id).first.username %>
  <li> 
  <%#= link_to "#{leader.username}", user_path(leader.username) %>
  <%= link_to "#{x}", user_path(x) %>
  </li>
<% end %>
</ul>
